body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    color: #333;
}

header {
    background-color: #d7bde2;
    padding: 40px;
    text-align: center;
    color: #9b59b6;
    position: relative;
}

.header-image {
    float: right;
    max-height: 200px; 
}

.hero {
    background-color: #ffe6e6;
    padding: 50px;
    text-align: center;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.card {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin: 15px;
    padding: 20px;
    width: 250px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.vision-mision-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #ffe6e6;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.vision, .mision {
    width: 90%;
    padding: 10px;
    margin-bottom: 20px;
    text-align: center;
}

.objetivos {
    width: 100%; /* Asegura que el contenedor ocupe todo el ancho disponible */
    padding: 20px; /* Ajusta el padding según sea necesario */
    text-align: center;
    background-color: #ffe6e6;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    box-sizing: border-box; /* Asegura que el padding no cause desbordamiento */
}

footer {
    background-color: #ff6666;
    color: white;
    text-align: center;
    padding: 10px 0;
}

.social-icons {
    margin-top: 10px;
}

.social-icons a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
    font-size: 36px; /* Aumenta el tamaño de los iconos */
}

.social-icons a:hover {
    color: #ffcccc;
}

#recetas {
    color: #9b59b6;
}